@model DagBok.ViewModels.InläggCreateModel

@{
    ViewData["Title"] = "Create";
}





<div>
    <h4>Inlägg</h4>
    <hr />
    <div class="col-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control"  type="date"/>
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Innehåll" class="control-label"></label>
                <input asp-for="Innehåll" id="text-box" class="form-control" style="padding-bottom: 5rem;
                                      padding-top: 1rem;"/>
                <span asp-validation-for="Innehåll" class="text-danger"></span>
            </div>

            <div class="form-group">

                <input asp-for="IdUserId" class="form-control" value="1" type="hidden" />
                <span asp-validation-for="IdUserId" class="text-danger"></span>
            </div>

            @*@Html.Hidden( "UserId" )
                @Html.HiddenFor(model => model.IdUserId)

            *@@**@



            @Html.DisplayFor(model => model.User.Id)
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
@*
<div>
    <a asp-action="Index">Back to List</a>
</div>

*@
@*<script>


 void Page_Load(object sender,EventArgs e)
        {

            this.setUserId = GetCurrentUser();
        }
</script>
*@


@section Scripts



{

    

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}
